* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-around;
}
button {
    cursor: pointer;
}
h1 {
    font-family: 'Fascinate';
    margin: 2vw 0 0 2vw;
}
#poem-title {
    margin: 2vw 0 1vw 0;
    font-family: 'Italianno';
    font-weight: normal;
    font-size: clamp(30px, 7vw, 80px);
    text-align: center;
}

#poetry {
    font-size: 20px
}
#poem-box {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1vw 2vw;
    border-radius: 5px;
    width: fit-content;
    background-color: #DAB987;
}
#input-box {
    display: flex;
    margin: 2vw auto 0 auto;
    padding: 2vw;
    width: 100%;
    background-color: #DAB987;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
#num {
    margin: 1vw 0 0 2vw;
    padding: 0 5px;
}
#max-line {
    width: fit-content;
    margin: 1vw 0 0 2vw;
    padding: 5px;
    border-radius: 5px;
}
#max-line:hover {
    background-color: grey;
    cursor: pointer;
}
/* remove input arrows on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* remove input arrows on Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: initial;
}

button {
    border: none;
    padding: 0.5em;
    max-height: 30px;
    border-radius: 5px;
}
#random {
    margin-left: 4vw;
    margin-right: 1vw;
}
button:hover {
    background-color: #dedcdc
}
button:active {
    transform: scale(0.95);
}
#author {
    padding: 1vw;
    border: none;
    border-radius: 5px;
    max-height: 30px;
}
#cancel-madlibs {
    margin-left: 20vw;
}